html.dark {
  background-color: rgb(0, 0, 0);
}

html {
  background-color: rgb(0, 0, 0);
}

* {
  webkit-tap-highlight-color: rgba(255,255,255,0) !important;
  webkit-focus-ring-color: rgba(255,255,255,0) !important;
  webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

